* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #5E2A37;
}

#contenedor {
    width: 1300px;
    margin: auto;

}

/*-------------------Logo---------------------*/
.logo {
    max-width: 1100px;
    margin-left: 100px;
    display: block;
    height: 70px;
    background-color: black;
    animation: animacionlogo 3s ease-out 0s 1 normal forwards
}

@keyframes animacionlogo {
    0% {
        opacity: 0;
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        opacity: 3;
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    45% {
        opacity: 5;
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

.logo-cute {
    display: inline-block;
    margin-left: 85px;
    height: 110px;
    margin-top: -20px;
}

.logo-nombre {
    display: none;
}

/*-------------------Barra---------------------*/
.barra {
    display: inline-block;
    list-style: none;
    padding: 0px;
    background-color: white;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-left: 100px;
    animation: animacionbarra 1.5s ease-in 0s 1 normal forwards;
}

@keyframes animacionbarra {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 2;
        transform: translateX(0);
    }
}

.barra li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
}

.barra li {
    display: inline-block;
    text-align: center;
}

.menu-hamburguesa {
    height: 15px;
}

.barra li a:hover {
    color: #916B2C;
}

/*-------------------Bienvenida---------------------*/
.imagen-banner {
    display: block;
    margin: auto;
    margin-left: auto;
    max-width: 1100px;
    background-color: black;
    color: #E5D4CA;

}

.bienvenida {
    height: 300px;
    margin-left: 275px;
    animation: animacionbienvenida 3s ease-in 0s 1 normal forwards;
}
@keyframes animacionbienvenida {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 2;
        transform: translateX(0);
    }
}
.texto-banner {
    margin-left: 530px;
    margin-top: -190px;
}

.sub {
    margin: 150px;
    margin-left: -60px;
    padding-bottom: 30px;
}

/*-------------------Acerca de---------------------*/
.quienes-somos {
    display: block;
    margin-top: -150px;
    background-color: #E5D4CA;
    max-width: 1100px;
    margin-left: 100px;
}

.titulo1 {
    padding-top: 20px;
    font-size: 30px;
    margin-left: 650px;
}

.peluqueria {
    border-radius: 15px;
    height: 200px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.seccion1 p {
    float: right;
    top: 10px;
    width: 600px;
    right: 30px;
    font-size: 17px;
    padding-top: 30px;
    position: relative;
    text-align: left;
    margin-left: 35px;
    color: #5E2A37;
}

/*-------------------Servicios---------------------*/
.seccion2 {
    display: block;
    color: #E5D4CA;
    background-color: black;
    margin-top: 0px;
    max-width: 1100px;
    margin-left: 100px;
}

.titulo2 {
    padding-left: 220px;
    padding-top: 20px;
    font-size: 30px;
}

.servicios {
    padding-left: 200px;
    float: left;
    width: 600px;
    font-size: 17px;
    padding-top: 30px;
    position: relative;
    text-align: left;
    margin-left: 35px;
}

.servicios li a {
    text-decoration: none;
    color: #E5D4CA;
}

.servicios li a:hover {
    color: #916B2C;
}

.lsintexto {
    padding-bottom: 20px;
    margin-left: -200px;
    width: 150px;
    margin-bottom: 20px;
    animation: animacionl 1s ease-out 0s infinite alternate forwards;
}
@keyframes animacionl {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
    15% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    35% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }

/*-------------------Descuentos---------------------*/
.seccion3 {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #E5D4CA;
    margin-top: 0px;
    max-width: 1100px;
    margin-left: 100px;
}

.descuentos {
    padding-top: 5px;
    font-size: 30px;
    margin-top: -150px;
    margin-left: 0px;
    font-style: italic;
    text-align: center;
}

.t2 {
    font-style: normal;
    font-size: 10px;
}

.descuentos li {
    list-style: none;
}

.seccion3 a {
    text-decoration: none;
    color: #5E2A37;
}

.codigo {
    margin-top: 20px;
    width: 150px;
    margin-left: 50px;
}

.secadores {
    border-radius: 20px;
    width: 200px;
    margin-top: -180px;
    margin-left: 900px;
}

.titulo3 {
    margin-left: 480px;
}

/*-------------------Productos---------------------*/
.productos {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: black;
    color: #E5D4CA;
    max-width: 1100px;
    margin-left: 100px;
    margin-top: 0px;
}

.titulo4 {
    margin-left: 490px;
}

.gproductos {
    margin-left: 0px;
    padding: 50px 0px;
}

.aceite {
    margin-top: -200px;
    margin-left: -650px;
    text-align: center;
}

.jabon {
    margin-top: -335px;
    margin-left: 0px;
    text-align: center;
}

.shampoo {
    margin-top: -335px;
    margin-left: 650px;
    text-align: center;
}

.productos a {
    color: #E5D4CA;
    text-decoration: none;
}

.productos a:hover {
    color: #916B2C;
}

.flechad {
    margin-left: 20px;
    margin-top: 105px;
    width: 50px;
}
.flechai {
    padding-bottom: 120px;
    display: block;
    margin-left: 1030px;
    margin-top: -190px;
    width: 50px;
}

/*-------------------footer---------------------*/
.footer {
    display: block;
    background-color: black;
    color: #E5D4CA;
    max-width: 1100px;
    margin-top: 0px;
    margin-left: 100px;
}

.caja .logofinal {
    padding-top: 50px;
    margin-left: 100px;
    width: 80px;
}

.caja1 {
    margin-left: 260px;
    margin-top: -90px;
}

.caja1 li {
    list-style: none;
}

.caja1 li a {
    color: #916B2C;
    text-decoration: none;
    padding: 2px;
    display: inline-block;
}

.caja1 li a:hover {
    color: #E5D4CA;
}

.caja2 {
    font-size: 15px;
    margin-left: 400px;
    margin-top: -133px;
}

.caja2 li {
    list-style: none;
}

.caja2 li a {
    display: inline-block;
    text-decoration: none;
    color: #E5D4CA;
}

.caja2 li a:hover {
    color: #916B2C;
}

.caja2 .sucursales {
    color: #916B2C;
    font-size: 20px;
}

.caja3 {
    font-size: 15px;
    margin-left: 600px;
    margin-top: -128px;
}

.caja3 li {
    list-style: none;
}

.c {
    color: #916B2C;
    font-size: 20px;
}

.caja3 li a {
    display: inline-block;
    text-decoration: none;
    color: #E5D4CA;
}

.caja3 li a:hover {
    color: #916B2C;
}

.m {
    margin-left: 200px;
    margin-top: -70px;
}

.m a {
    display: inline-block;
    text-decoration: none;
    color: #E5D4CA;
}

.m a:hover {
    color: #916B2C;
}

.reservados {
    font-size: 13px;
    margin-left: 400px;
    margin-top: 60px;
}